
body {
    font-family: 'Nunito', sans-serif;
}

.board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.guesses {
    display: flex;
    flex-direction: column-reverse;
}

.checkGuesses {
    margin-left: 50px;
    display: flex;
    flex-direction: column-reverse;
}

.block-row {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    margin-top:10px;
    border:1px solid white;
}

.pin-row {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    margin-top:5px;
    margin-right:1px;
}

.block {
    background-color:black;
    padding:15px;
    margin-left: 2px;
}

.pin {
    border:2px solid black;
    padding:8px;
}

#guessForm {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    padding:30px;
}

#guessLabel {
    margin-right:30px;
}

#numberInput {
    margin-right: 40px;
    margin-left: 10px;
    width:60px;
}

.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    width: 93%;
}

.formDiv.input {
    margin:5px;
}

.formDiv h2 {
    width:300px;
}

.footer-copyright{
    width:93%;
}

.accordion{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.accordion-body td{
    padding-right: 200px;
}

.statisticsTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    width: 93%;
}