
body {
    font-family: 'Nunito', sans-serif;
}

.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}

.formDiv.input {
    margin:5px;
}