@import "statistics.css";

body {
    font-family: 'Nunito', sans-serif;
}

.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    width: 93%;
}

.formDiv.input {
    margin:5px;
}

.formDiv h2 {
    width:300px;
}

.footer-copyright{
    width:93%;
}

.accordion{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.accordion-body td{
    padding-right: 200px;
}

.statisticsTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    width: 93%;
}