{% extends 'layout.html' %}
{% block content %}

    <div class="board">
        <div class="guesses">
            {% for i in range(10) %}
                <div class="block-row">
                    {% for j in range(position_amount) %}
                        <div class="block" id="block-{{ j }}">block</div>
                    {% endfor %}
                {{ loop.index }}
                </div>
            {% endfor %}
        </div>

        <div class="checkGuesses">
            {% for i in range(10) %}
                <div class="pin-row">
                    {% for j in range(position_amount) %}
                        <div class="pin" id="pin-{{ j }}">pin</div>
                    {% endfor %}
                    {{ loop.index }}</div>
            {% endfor %}
        </div>
    </div>

    <form method="post" class="form-group" id="guessForm">
    <label id="guessLabel">Take your guess per column:</label>
        {% for i in range(position_amount) %}
            <p>{{ loop.index }}</p>
            <input type="number" min="1" max="{{color_amount}}" required class="form-control" id="numberInput" placeholder="1">
        {% endfor %}
    <input type="submit" value="Confirm" class="btn btn-success">
    </form>
{% endblock %}

