{% extends 'layout.html' %}
{% block content %}

    <div class="formDiv">
        <h2>Mastermind Online</h2>
        <form method="post" class="form-group" id="homeform">
            <label>Enter your nickname:</label>
            <input class="form-control mb-2" type="text" placeholder="Nickname.." required name="nickname">
            <label>Double colors allowed?</label>
            <select class="form-select mb-2" name="double-colors">
                <option value="0" selected>No</option>
                <option value="1">Yes</option>
            </select>
            <label>How many colors can the code contain?</label>
            <input class="form-control mb-2" type="number" min="6" max="10" placeholder="6" required value="6"
                   name="color-amount">
            <label>How many positions does the code have?</label>
            <input class="form-control mb-2" type="number" min="4" max="10" placeholder="4" required value="4"
                   name="position-amount">
            <label>Cheat mode on?</label>
            <select class="form-select mb-3" name="cheat">
                <option value="0" selected>No</option>
                <option value="1">Yes</option>
            </select>
            <input type="submit" class="btn btn-success" value="play">
        </form>
    </div>

    <footer class="page-footer font-small pt-4">
        <h5 class="footer-copyright text-center py-3">Created by Ricardo Buitenhuis & Joren Fonteijn</h5>
    </footer>

{% endblock %}
