{% extends 'layout.html' %}
{% block content %}

    <div class="homeDiv">
        <form method="post" class="form-group" id="homeform" action="{{ url_for('game') }}">
            <label>Enter your nickname:</label>
            <input class="form-control mb-2" type="text" placeholder="Nickname.." required name="nickname">
            <label>Double numbers</label>
            <select class="form-select mb-2" name="double-numbers">
                <option value="0" selected>Disabled</option>
                <option value="1">Enabled</option>
            </select>
            <label>Amount of numbers in the code</label>
            <input class="form-control mb-2" type="number" min="6" max="10" placeholder="6" required value="6"
                   name="number-amount">
            <label>Amount of positions to guess</label>
            <input class="form-control mb-2" type="number" min="4" max="10" placeholder="4" required value="4"
                   name="position-amount">
            <label>Cheat mode</label>
            <select class="form-select mb-3" name="cheat">
                <option value="0" selected>Disabled</option>
                <option value="1">Enabled</option>
            </select>
            <input type="submit" class="btn btn-success" value="play">
        </form>
    <footer class="page-footer font-small pt-4">
        <h5 class="footer-copyright text-center py-3">Created by Ricardo Buitenhuis & Joren Fonteijn</h5>
    </footer>
    </div>

{% endblock %}
