{% extends 'layout.html' %}
{% block content %}

    <h2 class="statisticsTitle">Statistics</h2>
    {% for key in stats %}
        <div class="accordion" id="accordionStatistics{{ key }}">

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne{{ key }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne{{ key }}" aria-expanded="false"
                            aria-controls="collapseOne{{ key }}">
                        {{ key }}
                    </button>
                </h2>
                <div id="collapseOne{{ key }}" class="accordion-collapse collapse"
                     aria-labelledby="headingOne{{ key }}"
                     data-bs-parent="#accordionStatistics{{ key }}">
                    {% for stat in stats[key] %}
                        <div class="accordion-body">
                            <table>
                                <tr>
                                    <td class="pr-3">Played: {{ stat[3] }}</td>
                                    <td class="pr-3">Guessed in: {{ stat[4] }} turns</td>
                                    {% if stat[2] == 1 %}
                                        <td class="pr-3">Cheat on: Yes</td>
                                    {% elif stat[2] == 0 %}
                                        <td class="pr-3">Cheat on: No</td>
                                    {% else %}
                                        <td class="pr-3">Cheat on: Unknown</td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    {% endfor %}

    {#    {% for stat in stats %}#}
    {#        <div class="accordion" id="accordionStatistics{{ stat[0] }}">#}
    {#            <div class="accordion-item">#}
    {#                <h2 class="accordion-header" id="headingOne{{ stat[0] }}">#}
    {#                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"#}
    {#                            data-bs-target="#collapseOne{{ stat[0] }}" aria-expanded="false"#}
    {#                            aria-controls="collapseOne{{ stat[0] }}">#}
    {#                        {{ stat[1] }}#}
    {#                    </button>#}
    {#                </h2>#}
    {#                <div id="collapseOne{{ stat[0] }}" class="accordion-collapse collapse"#}
    {#                     aria-labelledby="headingOne{{ stat[0] }}"#}
    {#                     data-bs-parent="#accordionStatistics{{ stat[0] }}">#}
    {#                    <div class="accordion-body">#}
    {#                        <table>#}
    {#                            <tr>#}
    {#                                <td class="pr-3">Played: {{ stat[3] }}</td>#}
    {#                                <td class="pr-3">Guessed in: {{ stat[4] }} turns</td>#}
    {#                                {% if stat[2] == 1 %}#}
    {#                                    <td class="pr-3">Cheat on: Yes</td>#}
    {#                                {% elif stat[2] == 0 %}#}
    {#                                    <td class="pr-3">Cheat on: No</td>#}
    {#                                {% else %}#}
    {#                                    <td class="pr-3">Cheat on: Unknown</td>#}
    {#                                {% endif %}#}
    {#                            </tr>#}
    {#                        </table>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    {% endfor %}#}




{% endblock %}
